services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672" # RabbitMQ main port
      - "15672:15672" # RabbitMQ management UI port
    environment:
      RABBITMQ_DEFAULT_USER: rabbitmq
      RABBITMQ_DEFAULT_PASS: rabbitmq # Altamente recomendável alterar, caso subir para produção
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      retries: 10
      timeout: 10s
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    deploy:
      resources:
        limits:
          cpus: "0.3"
          memory: 250M

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    depends_on:
      rabbitmq:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 1G

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_BASICAUTH: "false"
    depends_on:
      rabbitmq:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: "0.3"
          memory: 250M

  collector:
    build: ./collector
    container_name: collector
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      - RABBITMQ_HOST=rabbitmq
      - OPENWEATHER_KEY=${OPENWEATHER_KEY}
    restart: always
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 50M

  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile.worker
    depends_on:
      api:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      - RABBITMQ_HOST=rabbitmq
      - API_URL=http://api:3000/api
    container_name: worker
    hostname: worker
    restart: always
    deploy:
      resources:
        limits:
          cpus: "0.20"
          memory: 40m

  api:
    build:
      context: ./api
      dockerfile: Dockerfile.api
    container_name: api
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - GEMINI_APIKEY=${GEMINI_APIKEY}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/status"]
      interval: 10s
      timeout: 5s
      retries: 55
      start_period: 5s
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 350M

  dashboard:
    build:
      context: ./dashboard
      dockerfile: Dockerfile.dashboard
    container_name: dashboard
    ports:
      - "4173:4173"
    depends_on:
      api:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: "0.3"
          memory: 200M

volumes:
  rabbitmq_data:
  mongo_data:
